$min-width: 480px;
$max-width: 1920px;
$content-width: 1140px;

$breakpoint-tablet: 1180px;
$breakpoint-mobile: 768px;


$base-font-size: 20px; // in reset file
$base-font-size-mobile: 24px; // in reset file
$base-line-height: 1.5;

$font-size-h1: 48px;
$font-size-h2: 36px;
$font-size-h3: 28px;

$base-font-family:           "calibri-regular", sans-serif; // in reset file
$base-font-family-bold:      "calibri-bold", sans-serif;
$secondary-font-family:      "iosevka-regular", sans-serif;
$secondary-font-family-bold: "iosevka-bold", sans-serif;

$base-transition: all 0.6s ease 0s; // in reset file

$base-bg: #ffffff; // in reset file

$light-text-color: #ffffff;
$dark-text-color-1: #272013;
$dark-text-color-2: #403c33;
$dark-text-color-3: #736357;
$light-grey-color: #d4d2d0;
$blue-color: #3e6894;
$link-color: $blue-color; // in reset file
$yellow-color: #e8be21;
$btn-color: rgba(16, 16, 16, .1);
$btn-color-not-transparent: #f7f7f7;
$dark: #101010;

$base-box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.5);
$secondary-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);

$about-item-title-width: 254px;